/* Apply a full-height background color to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%; /* Full width */
    position: fixed; /* Fixed at the top */
    top: 0;
    left: 0;
}

header a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

/* .container {
    width: 100%;
    max-width: 500px; 
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10rem;
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.small{
    font-size: 12px;
    font-style: italic;
    margin-left: 10rem;
    margin-top: 15px;
}
.small a{
    list-style-type: none;
    list-style: none;
}